$max: 12;
$angle: 360/$max;
$fill: 'black';

.custom-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg {
    height: var(--spinner-size, 120px);
    width: var(--spinner-size, 120px);
    overflow: visible;
  /*   border: 1px solid red; */
    }
  .g-circles {
    //transform: scale(.9) translate(7px, 7px);
    }
  
  @function transform($item: 1){
    $base: rotate(#{-$angle*$item}deg) translate(5px, 5px);
    @return $base;
  }
  
  .g--circle {
    transform-origin: var(--spinner-size, 120px)/2 var(--spinner-size, 120px)/2;
    
    fill: var(--spinner-color, $fill);
    animation: opacity 1.2s linear infinite;
    
    @for $item from 1 through $max {
      &:nth-child(#{$max}n + #{$item}){
        animation-delay: -#{$item/10}s;
        transform: transform($item) scale(.9);
      }
    }
  }


  @keyframes opacity {
    3% {
      fill-opacity: 1;
    }
    75% {
      fill-opacity: 0;
    }
    
  }

  @keyframes opacity-stroke {
    10% {
      stroke-opacity: 1;
    }
    85% {
      stroke-opacity: 0;
    }
    
  }

}